html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.questions {
    text-align: center;
    top: 0 auto;
    background-color: bisque;
}

.question{
    font-size: 16pt;
    border: 2px;
    border-radius: 40%;
    color: rgb(239, 239, 239);
    background-color: rgb(164, 146, 123);
}
.question a{
    text-decoration: none;
    font-size: 16pt;
    color: rgb(239, 239, 239);
    background-color: rgb(164, 146, 123);    
}
.question:hover{
    background-color: rgb(163, 125, 77);
}
.question:hover a{
    background-color: rgb(163, 125, 77);
}
.answer{
    display: none;
    border: 2px;
    border-radius: 5%;
    background-color: rgb(164, 146, 123);
    font-size: 16pt;
}